{{ define "footer" }}
<footer class="horizontal-align">
<p>Made by
    <a id="footer-link" href="https://github.com/hackstream/zettel" target="blank">
    <span id="footer-link-text">zettel</span>
    </a>
</p>
</a>
</footer>
{{- end }}
