{{ define "list" }}
<!doctype html>
<html>
    {{- template "header" . }}
   <body>
      <div id="page-container">
         <div id="content-wrap">
         {{- template "navbar" . }}
        <section class="hero container">
            <h2>{{ .TagName }}</h2>
        </section>
        <section class="container link">
            <ul>
            {{- range .Links}}
                {{- if eq .Slug "index"}}
                    <li><a href="{{$.SitePrefix}}">{{.Title}}</a></li>
                {{- else}}
                    <li><a href="{{$.SitePrefix}}/posts/{{.Slug}}.html">{{.Title}}</a></li>
                {{- end}} 
            {{- end}}
            </ul>
        </section>
         </div>
         {{- template "footer" . }}
      </div>
   </body>
</html>
{{- end }}
