{{ define "navbar" }}

<navbar class="horizontal-align">
    <div class="nav-item"><a href="/">Home</a></div>
    <div class="nav-item"><a href="/all.html">All Zettels</a></div>
    <div class="nav-item"><a href="/graph.html">Graph</a></div>
</navbar>
{{- end }}
