{{ define "post" }}

{{- if not .IsIndex}}
<section class="meta container">
    <h2>{{.Post.Meta.Title}}</h2>
    <p>Posted at — {{.Post.Meta.Date}}</p>
</section>
{{- end}}
<section class="container">
    {{.Post.Body}}
</section>

{{- if .Post.Connections}}
    <section class="container link">
        <h3>Connections</h3>
            <ul>
                {{- range .Post.Connections}}
                    {{- if eq .Slug "index"}}
                        <li><a href="/">{{.Title}}</a></li>
                    {{- else}}
                        <li><a href="/posts/{{.Slug}}.html">{{.Title}}</a></li>
                    {{- end}}    
                {{- end}}
            </ul>
    </section>
{{- end}}

{{- if .Post.Meta.Tags}}
    <section class="container tags">
        {{- range $t := .Post.Meta.Tags}}
            <a href="/tags/{{$t}}.html"><button class='outline'>{{$t}}</button></a>
        {{- end}}
    </section>
{{- end}}
{{- end }}
