{{ define "post" }}

<section class="meta container">
    <h2>{{.Post.Meta.Title}}</h2>
    <p>Last updated at — {{.Post.Meta.Date}}</p>
</section>

<section class="container">
    {{.Post.Body}}
</section>

{{- if .Post.Connections}}
    <section class="container link">
        <h3>Connections</h3>
            <ul>
                {{- range .Post.Connections}}
                <li><a href="/posts/{{.Slug}}.html">{{.Title}}</a></li>
                {{- end}}
            </ul>
    </section>
{{- end}}

{{- if .Post.Meta.Tags}}
    <section class="container tags">
        {{- range $t := .Post.Meta.Tags}}
            <button class='outline'>{{$t}}</button>
        {{- end}}
    </section>
{{- end}}
{{- end }}
