<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{{.Description}}">
      <meta name="author" content="{{.Author}}">
      <title>{{.Title}}</title>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
      </style>
      <!-- Link to CSS -->
      <link rel="stylesheet" type="text/css" href="./css/wing.css" />
      <!-- <link rel="stylesheet" type="text/css" href="./css/normalize.css" /> -->
      <link rel="stylesheet" type="text/css" href="./css/main.css" />
   </head>
   <body>
      <div id="page-container">
         <div id="content-wrap">
            <navbar class="horizontal-align">
               <div class="nav-item"><a href="/">Home</a></div>
               <div class="nav-item"><a href="/all.html">All Zettels</a></div>
               <div class="nav-item"><a href="/graph.html">Graph</a></div>
            </navbar>
            <section class="hero container">
               <h2>My Zettel</h2>
               <h5>Random musings, TILs and programming pearls of wisdom!</h5>
            </section>
            <section class="container center">
               {{.Content}}
            </section>
         </div>
         <footer class="horizontal-align">
            <p>Made by
               <a id="footer-link" href="https://github.com/hackstream/zettel" target="blank">
               <span id="footer-link-text">zettel</span>
               </a>
            </p>
            </a>
         </footer>
      </div>
   </body>
</html>
