body {
	background: rgba(0, 0, 0, 0) url("../images/dot-grid.png") repeat scroll 0% 0%;
	color: #202020;
	font-family: 'Inter', sans-serif;
}

.container {
	max-width: 960px;
	/* background: white; */
}

a,button {
	cursor: pointer;
}

navbar {
	margin-top: 5rem;
}

.nav-item a {
	color: #797979;
	text-decoration: none;
}

.nav-item a:hover {
	cursor: pointer;
	color: #4d4a4a;
	border: none;
}


/* === Footer === */

#footer-link {
	font-size: 16px;
	color: #111111;
	text-decoration: none;
}

#footer-link-text {
	font-weight: 700;
}

#page-container {
	position: relative;
	min-height: 90vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
	/* Footer height */
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	/* Footer height */
}

/* .divider{
	color: #eee;
} */

#graphContainer {
    max-width: 100%;
    height: 100vh;
	margin: auto;
	background: #FBFBF4;
}

.date {
	color: #9b9b9b;
}
code {
	font-size: initial;
}
code>pre{
	padding: inherit;
	border-radius: 4px;
	overflow: auto;
}